* {
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
.mask {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}
button {
  width: 100px;
  border: 4px solid;
  border-color: transparent;
}
.score {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
}
.score .winLose {
  color: green;
  font-size: 70px;
}
.score * {
  text-align: center;
}
img {
  width: 100%;
}

.announce {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: wheat;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 60%;
  text-align: center;
  color: green;
  visibility: hidden;
  z-index: 2;
}
.announce h1 {
  margin: 20;
  font-size: 200px;
}
.announce button {
  font-size: 50px;
  font-weight: bolder;
  border-radius: 8%;
  padding: 20px;
  width: max-content;
}

.computerChoice {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
}
.computerChoice img {
  width: 200px;
  background-color: gainsboro;
  border: 5px solid;
  border-color: red;
}
